@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
    height: 200vh;
    background-color: white;
}
::-webkit-scrollbar{
    display: none;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{

    position: relative;
    top: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    background-size: cover;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
header .logo{
    position: relative;
    color: black;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    height: 5px;
    top: -20px;
}
.navigation{
    position: relative;
    top: 17px;
}
header.navigation a{
    color: black;
    background: white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 28px;
    transition: 0.3s;
    top: 10px;
    padding: 5px;
    transition: all ease 0.3s;
}
header .navigation a{
    padding: 10px ;
    transition: all ease 0.3s;
    border-radius: 20px;
}
header .navigation a:hover{
    color: white;
    background-color: #34A853;
    border-radius: 20px;
    padding: 10px;
    transition: all ease 0.3s;

}
.content{
    max-width: 650px;
    margin: 60px 100px;
}
.content .info h2{
    color: black;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}
.content .info{
    position: relative;
    right: 100px;
}
.content .info h2 span{
    color: #34A853;
    font-size: 40px;
    font-weight: 600;
}
.content .info p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}
.content .info-btn{
    color: white;
    background-color: #34A853;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;
}
.content .info-btn:hover{
    background:#363636;
}

#header1{
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px; 
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 17px;

}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5 ease;
}
ul li a:hover{
    background-color: black;
    color: white;
}
ul li.active a{
    background-color: black;
    color: white;
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.titlo{
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-130%, -50%);

}
#magem{
    height: 200px;
    width: 500px;
}

.titlo h1{
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.button{
    position: absolute;
    top: 54%;
    left: 27%;
    transform: translate(-50%, -50%);
}
.btn{
    border: 1px solid black;
    padding: 5px 20px;
    color: black;
    transition: 0.5 ease;
    font-size: 18px;
    text-decoration: none;
    border-radius: 3px;
}

.btn:hover{
    background-color: white;
    color: black;
}
#header2 {
    height: 120vh;
    background-size: cover;
    background-position: center;
    min-height: 100px; 
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../components/images/Untitled\ design\ \(1\).jpg);
    padding: 6rem 2rem;
    
}

.explore_container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.explore_title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 2rem;
    text-align: center;
}

.explore_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.explore_card {
    padding: 2rem;
    background-color: 	#363636;
    border: 2px solid transparent;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.explore_card:hover {
    background-color: #1c1c1e;
    border-color: #34A853;
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.explore_card span {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-bottom: 1re;
    font-size: 1.5rem;
    color: #34A853;
    background-color:  #34A853;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.explore_card h4 {
    margin-bottom: 0.75rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #ffffff;
    transition: color 0.3s ease;
}

.explore_card p {
    margin-bottom: 0.8rem;
    color: #cccccc;
    line-height: 1.6;
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

.explore_card a {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.explore_card a:hover {
    color: #1c1c1e;
    background-color: white;
}
.class_container{
    top: -90px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.class_image2{
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.class_image .class_image1{
    position: absolute;
    right: 0;
    top: 0;
    max-width: 500px;
    border-radius: 10px;
}
.class_image .class_image2{
    position: relative;
    left: 30%;
    bottom: 1px;
    max-width: 350px;
    border-radius: 10px;
}
.class_content{
    position: relative;
    padding: 2rem 0;
}
.class_content .section_header{
    text-align: left;
    max-width: 400px;
}
.class_content p{
    margin-bottom: 4rem;
    color: black;
}
.class_content h2{
    color: black;
}
.class_content .btn{
    background-color: white;
    transition: all ease 0.2s;
}
.class_content .btn:hover{
    color: white;
    background-color: #363636;
}
.statics{
    background-color: white;
    width: 90px;
    border-radius: 500px;
    height: 150px;
}
#header3{
    height: 120vh;
    background-color: #eeeeee;
}
.explore_card:hover span {
    background-color: greenyellow;
    position: relative;

    transition: left 0.3s ease-in-out; 
}
a{
    text-decoration: none;
}
.active{
    color: white;
    background-color: #34A853;
    padding: 10px;
    border-radius: 10px;
}
.info-btn {
    color: white;
    background-color: #34A853;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    border-radius: 15px;


}
.wrapper h1{
    font-size: 3em;
    margin: 25px;
    text-align: center;
    font-weight: 500;
}
.content-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;

}
.card{
    min-height: 220px;
    width: 320px;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: klef;
    flex-direction: column;
    background-color: white;
    margin: 10px 4px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 2);
    border: 3px solid transparent;
    
}
.card h2{
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
}
.card p{
    color: #363636;
}
.card i{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.card:hover h2{
    font-weight: 500;
    
}
.card:hover{
    background-color: #cccccc;
    background-size: cover;
    transform: translateY(-10px);
    transition: all ease 0.3s;
    border-color: #34A853;
    
}

.contact{
    min-height: 100vh;
    background-color: white;
    padding: 50px;
    text-align: center;
}
.container{
    max-width: 800px;
    margin: 0 auto;
}
.container h2{
    font-size: 36px;
    margin-bottom: 40px;
    color: black;
}
.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
}
.contact-form{
    text-align: left;
}
.contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
}
.form-group{
    margin-bottom: 20px;
}
input, textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #eeeeee;
    color: black;
}
textarea:focus{
    font-family: 'Poppins';
    outline: none;
    box-shadow: 0 0 8px black;
}
button{
    color: white;
    background-color: #34A853;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    border: none;
}
button:hover{
    background-color: #363636;
}
.contact-info{
    text-align: left;
}
.contact-info h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
}
.contact-info p{
    margin-bottom: 10px;
    color: black;
}
.contact-info i{
    color:#34A853 ;
    margin-right: 10px;
}
.info-btn:hover{
    background-color: #363636;
}
