* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', 'Helvetica', sans-serif;
}

:root {
    --bg-color: #FAF8F8;
    --text-color: #212121;
}

body.dark-theme {
    --bg-color: #212121;
    --text-color: #4EB369;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.5s, color 0.5s;
}

#head {
    width: 100%;
    background-color: darken(#FAF8F8, 4%);
    color: #4B4848;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1.25s ease-in-out;
    position: fixed;
}

header {
    background-color: #4EB369;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 271px;
    height: 89px;
    padding-left: 2%;
    padding-bottom: 0.4%;
    cursor: pointer;
}

/* Estilo para o botão de alternância de tema */
.toggle-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
}

main {
    padding-top: 100px;
}

#graphics {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 50px;
}

.title {
    margin-bottom: 25px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

#theme-icon {
    width: 43px;
    margin-right: 40px;
}

#form-button {
    background-color: #4EB369;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-bottom: 100px;
}

#form-a{
    margin-left: 100px;
}

/* Media Query */
@media (max-width: 1400px) {
    #logo {
        width: 271px;
        height: 89px;
        padding-left: 2%;
        padding-bottom: 0.4%;
    }

    #iconUser {
        height: 60%;
        padding-right: 5%;
    }
}

@media (max-width: 880px) {
    #logo {
        width: 271px;
        height: 89px;
        padding-left: 2%;
        padding-bottom: 0.4%;
    }

    #iconUser {
        height: 60%;
        padding-right: 5%;
    }
}

@media (max-width: 660px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    .iframe-desktop {
        display: block;
    }

    .iframe-mobile {
        display: block;
        border: none;
    }
}

/* Celular */
@media (max-width: 800px) {

    .avaliacao {
        width: 80%;
    }

    header {
        flex-direction: column;
        align-items: start;
        padding-left: 2%;
        padding-right: 2%;
        height: auto;
        position: relative;
    }

    #logo {
        width: 150px;
        height: auto;
        padding-left: 0;
    }

    #theme-toggle {
        width: 40px; 
        height: 40px;
        position: absolute;
        top: 10px; 
        right: 10px;
        cursor: pointer;
    }

    #theme-icon {
        width: 25px;
        display: inline;
    }

    iframe {
        width: 100%;
        height: 400px;
        border: none;
    }

    #graphics {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        height: 70%;
        margin-top: -20px;
    }

    .title {
        font-size: 30px;
    }
}

/* Para celulares, esconder o iframe desktop */
@media (max-width: 480px) {
    .iframe-desktop {
        display: none;
    }

    .iframe-mobile {
        display: block;
        border: none;
    }

    #form-a{
        margin-left: 30%;
    }
}

@media (min-width: 481px) {
    .iframe-mobile {
        display: none;
    }
 
    .iframe-desktop {
        display: block;
        border: none;
    }
}
