@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: white;
}
::-webkit-scrollbar{
    display: none;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    
}
#header1{
    position: sticky;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(232, 232, 232);
    height: 72px;
    font-size:  15px;
    z-index: 1;
  
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.navigation{    
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 4vh;
    width: 100%;
    top: 3px;
}
a:link{
    color: black;
}

header.navigation a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
    padding: 5px;
    transition: all ease 0.3s;
}
header .navigation a{
    padding: 10px ;
    transition: all ease 0.3s;
    border-radius: 20px;
    
}
header .navigation a:hover{
    color: white;
    background-color: #34A853;
    padding: 10px;
    transition: all ease 0.3s;

}
header .logo{
    position: relative;
    height: 0px;
    align-items: center;
    top: -175%;

}
header .logo>img{
    width: 40%;
}
header .navigation .logo:hover{
    background-color: white;
}
.celular{
    display: flex;
    height: 100%;
    width: 30%;
}
#logoCelular{
    position: relative;
    display: flex;
    top: -50%;
    width: 60%;
    min-width: 60%;
    height: auto;
    
}
.content{
    max-width: 650px;
    max-height: 10%;
    margin: 60px 100px;
}
.content .info h2{
    color: black;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}
.content .info{
    left: -20%;
    position: relative;
    right: 100px;
}
.content{
    display: flex;
}
.content .info h2 span{
    color: #34A853;
    font-size: 40px;
    font-weight: 500;
    line-height: 30px;
}
.content .info p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}
.content .info-btn{
    color: white;
    background-color: #34A853;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;    
}
.content .info-btn:hover{
    background:#363636;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 17px;

}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5 ease;
}
ul li a:hover{
    background-color: black;
    color: white;
}
ul li.active a{
    background-color: black;
    color: white;
}
.active:link{
    color: white;
}
.logo img{
    float: left;
    width: 25%;
    height: auto;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.titlo{
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-130%, -50%);

}
#magem{
    height: 200px;
    width: 500px;
}

.titlo h1{
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.button{
    position: absolute;
    top: 54%;
    left: 27%;
    transform: translate(-50%, -50%);
}
.btn{
    border: 1px solid black;
    padding: 5px 20px;
    color: black;
    transition: 0.5 ease;
    font-size: 18px;
    text-decoration: none;
    border-radius: 3px;
}

.btn:hover{
    background-color: white;
    color: black;
}
#header2 {

    background-size: cover;
    background-position: center;
    min-height: 100px; 
    background-color: #50A343;
    padding: 6rem 2rem;
    
}
.login{
    color: white;
    background-color: #34A853;
}

.explore_container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.explore_title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 2rem;
    text-align: center;
}

.explore_grid {
    display: grid;
    min-width: 20%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.explore_card {
    padding: 2rem;
    background-color: white;
    border: 2px solid transparent;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.explore_card:hover {
    background-color: #eeeeee;
    border-color: greenyellow;
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.explore_card span {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-bottom: 1re;
    font-size: 1.5rem;
    color: #34A853;
    background-color:  #34A853;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.explore_card h4 {
    margin-bottom: 0.75rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
    transition: color 0.3s ease;
}

.explore_card p {
    margin-bottom: 0.8rem;
    color: black;
    line-height: 1.6;
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

.explore_card a {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
    font-weight: 600;
    color: black;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.explore_card a:hover {
    color: #cccccc;
    background-color: black;
}
.class_container{
    top: -90px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.class_image2{
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
}

.class_image .class_image2{
    position: relative;
    left: 29%;
    bottom: 1px;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}
.class_content{
    position: relative;
    padding: 2rem 0;
}
.class_content .section_header{
    text-align: left;
    font-size: 20px;
    max-width: 400px;
}
.class_content p{
    margin-bottom: 4rem;
    color: black;
}
.class_content h2{
    color: black;
}
.class_content .btn{
    background-color: white;
    transition: all ease 0.2s;
}
.class_content .btn:hover{
    color: white;
    background-color: #363636;
}
.statics{
    background-color: white;
    width: 90px;
    border-radius: 500px;
    height: 150px;
}
#header3{
    background-color: #f4f4f4;
}
.explore_card:hover span {
    background-color: greenyellow;
    position: relative;

    transition: left 0.3s ease-in-out; 
}
a{
    text-decoration: none;
}
.active{
    color: white;
    background-color: #34A853;
    padding: 10px;
    border-radius: 10px;
}
.info-btn {
    color: white;
    background-color: #34A853;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    border-radius: 15px;


}
.wrapper h1{
    font-size: 3em;
    margin: 25px;
    text-align: center;
    font-weight: 500;
}
.content-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;

}
.card{
    min-height: 45%;
    max-height: 45%;
    max-width: 32%;
    min-width: 5vw;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    margin: 10px 4px;
    box-shadow: 0px px 10px rgba(0, 0, 0, 2);
    border: 3px solid transparent;
    transition: all ease 0.3s;
    
}
.card h2{
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
    font-size: 19px;
}
.card p{
    color: #363636;
    text-align: center;

}
.card i{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.card:hover h2{
    font-weight: 500;
    
}
.card:hover{
    
    background-size: cover;
    transform: translateY(-10px);
    transition: all ease 0.3s;
    border-color: #34A853;
    
}

.contact{
    min-height: 100vh;
    background-color: white;
    padding: 50px;
    text-align: center;
}
.container{
    max-width: 800px;
    margin: 0 auto;
}
.container h2{
    font-size: 36px;
    margin-bottom: 40px;
    color: black;
}
.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
}
.contact-form{
    text-align: left;
}
.contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
}
.form-group{
    margin-bottom: 20px;
}
input, textarea{
    font-family: 'Poppins';
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #eeeeee;
    color: black;
}
textarea:focus{
    
    outline: none;
    
}
.content img{
    height: 65vh;
}
button{
    color: white;
    background-color: #34A853;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    border: none;
}
button:hover{
    background-color: #363636;
}
.contact-info{
    text-align: left;
}
.contact-info h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}
.contact-info p{
    margin-bottom: 10px;
    color: white;
}
.contact-info i{
    color:#34A853 ;
    margin-right: 10px;
}
.info-btn:hover{
    background-color: #141414;
}
.about-section {
    padding: 100px;
    background-image: url('/components/images/MockupOficial.jpg'); 
    background-size: cover;
    color: #fff;
    flex-wrap: wrap;
  }
  
  .about-content {
    position: relative;
    left: -25%;
    bottom: -30px;
    width: 100%;
    max-width: 500px;
  }
  
  .about-content h2 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 20px;
    border-left: 5px solid #34A853;
    padding-left: 10px;
  }
  
  .about-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .btn-about {

    display: inline-block;
    padding: 10px 20px;
    background-color: #34A853;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn-about:hover {
    background-color: #363636;
    color: white;
  }
  
  .services-content {
    
    max-width: 400px;
  }
  
  .services-content h3 {
    font-size: 1.8rem;
    color: #34A853;
    margin-bottom: 20px;
  }
  
  .service-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .icon {
    font-size: 3rem;
    margin-right: 20px;
    color: #34A853;
  }
  
  .service-text h4 {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 5px;
  }
  
  .service-text p {
    font-size: 1rem;
    color: #ddd;
  }
  
footer{
    background-color:  #141414;
    padding: 50px 0;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
}
.footer-col .medias-socias{
    margin-top: 30px;
}
.footer-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;
}
.footer-col .medias-socias a i{
    font-size: 20px;
}

.footer-col .medias-socias a:hover{
    color: #34A853;
    background-color: white;
}
.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: #363636;
}
.footer-col .form-sub textarea{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: #363636;
    
}
.footer-col .form-sub input::placeholder{
    color: white;
}
.footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 8px ; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #34A853;
    border-radius: 3px;
    font-weight: bold;
    background-color: white;        
}



